<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/android-chrome-144x144.ico" type="image/x-icon" sizes="16x16">
    <link rel="stylesheet" href="css/component.css" />

    <title>Hong Alliance</title>
</head>

<body>
<div>
    <h1>홍익대학교 제휴목록 </h1>
    <a href="/members/login">로그인</a>
</div>

<div class="container">
    <div>
        <p>
            <a href="/admin">관리자 모드</a>
            <a href="/members">전체보기</a>
            <a href="/members/favorites">나의 즐겨찾기</a>
            <a href="/members/graduate">졸업생 가게</a>
            <a href="/members/software">소프트웨어/강의</a>
            <a href="/members/cafe">카페/디저트</a>
            <a href="/members/dining">식당</a>
            <a href="/members/hospital">병원</a>
            <a href="/members/theater">영화관</a>
            <a href="/members/hair-shop">헤어숍</a>
            <a href="/members/etc">기타</a>
        </p>
    </div>
</div> <!-- /container -->
</body>
</html>
