<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Hong Alliance</title>
</head>

<body>

<div>
    <h1>홍익대학교 제휴목록 </h1>
    <a href="/members/login">로그인</a>
</div>

<div class="container">
    <div>

        <div>
            <a href="/admin">
                <span>관리자 모드</span>
                <figure class="image is-128x128">
                    <img class ="is-rounded" th:src ="@{/images/cafe.jpg}">
                </figure></a>
        </div>

            <a href="/stores">전체보기</a>
            <a href="/stores/favorites">나의 즐겨찾기</a>
            <a href="/stores/graduate">졸업생 가게</a>
            <a href="/stores/software">소프트웨어/강의</a>
            <a href="/stores/cafe">카페/디저트</a>
            <a href="/stores/dining">식당</a>
            <a href="/stores/hospital">병원</a>
            <a href="/stores/theater">영화관</a>
            <a href="/stores/hair-shop">헤어숍</a>
            <a href="/stores/etc">기타</a>
            <a href="join-store">입점신청</a>

    </div>
</div> <!-- /container -->

</body>
</html>
