<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hong Alliance 전체보기</title>
</head>

<body>
<div class="container">
    <div>
        <table class="table">



            <tr th:each="list : ${lists}">
                <td th:text="${list.name}"></td>
                <td th:text="${list.kind}"></td>
                <td th:text="${list.info}"></td>
            </tr>

        </table>
    </div>
</div> <!-- /container -->
</body>
</html>